@import 'mixins';
@include font-face('Yekan', 'BYekan');
@include font-face('Mj_Beirut_Lt_X3', 'Mj_Beirut_Lt_X3');
@include font-face('Calibri', 'Calibri');

$header-font: 'Mj_Beirut_Lt_X3', 'Yekan', Tahoma;
$color: #012d3d;//#552555;//#012d3d;254E55;  #39193A; banafsh*/
$en-font: 'Calibri', Arial, Helvetica, sans-serif;
$font: 'Yekan', Tahoma;
$font-size: 14px;
html {
	overflow-x: hidden;
}
* {
	@include box-sizing(border-box);
}
body {
	font-family: $font;
	font-size: $font-size;
	width: 100%; // 960px 100%
	margin: 0 auto;
	direction: rtl;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body ::-webkit-input-placeholder {
	/* WebKit browsers */
	font-family: $font;
}
body :-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	font-family: $font;
	opacity: 1;
}
body ::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	font-family: $font;
	opacity: 1;
}
body :-ms-input-placeholder {
	/* Internet Explorer 10+ */
	font-family: $font;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #999;
    border: thin solid gray;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #eee;
    border: thin solid #d3d3d3;
    box-shadow: 0 0 3px #dfdfdf inset;
    border-radius: 10px;
}
input[type=text] {
	padding: 2px 10px;
	// line-height: inherit;
	font-size: 14px;
	
	// owerwriting materialize:
	height:inherit;
	background: white;
	color: black;
}
.my-preloader {
	width: 100%;
    position: fixed;
    top: 30%;
	h2 {
		width: 368px;
		margin: 0 auto 15px;
		font-size: 32px;
		color: #9F9F9F;
	}
	.preloader-wrapper { // adding to materialize
		direction: ltr;
		margin: 0 auto;
		display: block;
		width: 90px;
		height: 90px;
	}
	.circle-clipper .circle {
		border-width: 10px;
	}
}
.preloading {
	background: #CCCCCC;
}
.autoc {  
    width: 93%;
    margin: 10px auto;
	// background: whitesmoke;
	position: relative;
	input {
		width: 100%;
		height: initial;
		margin-bottom: 0;
		background-color: white;
		box-sizing: border-box;
	}
	.items-wrap {
		width: 100%;
		overflow: auto;
		height: 350px;
		position: absolute;
		z-index: 2;
		background: whitesmoke;
	}
	table {
		width: 100%;
		
		
		
	}
	
	tr {
		border-bottom: 1px solid #9C9C9C;
		// transition: all .3s;
		&:hover{
			cursor: pointer;
		}
	}
	td {
		width: 100%;
	}
	
	.item-wrap {
		padding: 5px;
		
		img {
			float: left;
			width: 6.8%; // important
			max-width: 6.8%;
			height:40px;
			max-height:40px;
			border-radius: 50px;
			border: 1px solid #ddd;
			box-shadow: 0 0 3px 0 rgba(0,0,0, 0.5);
		}
		.autoc-data {
			float: right;
			width: 93.2%; // important
			max-width: 93.2%;
			text-align: right;
		}
		p {
			// word-break: break-word;
			font-size: 12px;
			color: #555555;
		}
		.autoc-data-right {
			float: right;
		}
		.autoc-data-left {
			float: left;
		}
		.autoc-fullname-fa {
			font-size: 20px;
			margin-bottom: 5px;
		}
		.autoc-email {
			// color: #9F9F9F;
			color: #B1B1B1;
			margin-top: 15px;
			margin-left: 12px;
		}
	}
	.focused {
		background: rgba(150,150,255,0.5);
	}
	.focused .autoc-data-left > p:last-child {
		color: #555555;
	}
}
.mp-wrap {
	position: relative;
	float: right;
	margin-bottom: 10px;
	z-index: 5;
	.mp-input {	// overwriting materialize
		width: initial;
		height: initial;
		background-color: white;
		margin: 0;
	}
	.monthpicker {
		position: absolute;
		width: 300px;
		background: white;
		.mp-header {
			background: white;
			float: right;
			width: 100%;
			
			.btn {
				border-radius: 0;
			}
			.mp-next {
				float: right;
			}
			.mp-year {
				float: right;
				margin: 10px 58px;
			}
			.mp-prev {
				float: left;
			}
		}
		.mp-body {
			float: right;
			width: 100%;
			background: white;
			
			table * {
				text-align: center !important;
				
				td {
					border-radius:0;
					padding: 20px 10px;
					transition: background-color .4s;
					&:hover {
						cursor: pointer;
					}
				}
				td.spring:hover {
					background-color: #98FF53;
				}
				td.summer:hover {
					background-color: #FFFE6D;
				}
				td.fall:hover {
					background-color: #FFB381;
				}
				td.winter:hover {
					background-color: #65C2FF;
				}
			}
			
			li {
				float: right;
				width: 100%;
			}
			a {
				color: black;
			}
			.btn, .btn-flat {	// overwriting materialize
				height: initial;
				line-height: initial;
				padding: 10px 10px;
			}
		}
	}
	.selected {
		background: #FF007B;
	}
}
.header {
	font-family: $header-font;
	width: 100%;
    float: right;
    padding: 10px 10px;
    background-color: $color;
    background-image: url("../images/logo.png"), url("../images/bright-squares.png");
    background-repeat: no-repeat, repeat;
    background-position: 97% center, center;
	@media screen and (max-width: 1200px) {
		background-position: 99% center, center;
	}
	@media screen and (max-width: 600px) {
		background-image: url("../images/bright-squares.png");
		background-repeat: repeat;
		background-position: center;
	}
	color: white;
	a {
		color: white;
		&:hover {
			color: #039be5;
		}
	}
	.header-right {
		// width: 65%;
		float: right;
		margin-top: 10px;
		margin-right: 9em;
		@media screen and (min-width: 2300px) {
			margin-right: 13em;
		}
		@media screen and (max-width: 2300px) {
			margin-right: 11em;
		}
		@media screen and (max-width: 1800px) {
			margin-right: 10em;
		}
		@media screen and (max-width: 1200px) {
			margin-right: 8em;
		}
		@media screen and (max-width: 1200px) {
			margin-right: 6em;
		}
		@media screen and (max-width: 600px) {
			margin-right: 0;
		}
		margin-bottom: 1em;
		.header-right-maintitle {
			font-size: 26px;
			margin-bottom: 5px;
			@media screen and (max-width: 1200px) {
				font-size: 24px;
			}
			@media screen and (max-width: 1024px) {
				font-size: 22px;
			}
		}
		.header-right-subtitle {
			font-size: 18px;
			@media screen and (max-width: 1200px) {
				margin-right: 16px;
			}
			@media screen and (max-width: 600px) {
				font-size: 14px;
			}
		}
	}
	
	.header-left {
		// width: 35%;
		float: left;
		margin-left: 3em;
		@media screen and (max-width: 1107px) {
			margin-left: 1em;
		}
		@media screen and (max-width: 600px) {
			margin-left: 0;
		}
		img {
			width: 70px;
			height: 70px;
			float: left;
			background: white;
			padding: 1px;
			border-radius: 50px;
		}
		.header-leftdata {
			// width: 80%;
			margin-top: 2em;
			margin-left: 1em;
			@media screen and (max-width: 968px) {
				margin-left: 0.4em;
			}
			float: right;
			text-align: left;
		}
	}
	.header-endate {
		font-family: 'Calibri';
	}
	.header-date {
		font-size: 12px;
	}
	.header-userinfo {
		font-size: 18px;
		margin-bottom: 5px;
	}
	nav {
		background: none; // overwriting materialize
		box-shadow: none; // overwriting materialize
		
	}
}
.footer {
	width: 100%;
	float: right;
	padding: 4px 0;	
	background-color: $color;
    background-image: url('../images/bright-squares.png');
    background-repeat: repeat;
	background-position: center;
	
	
		
		ul {
			width: 261px;					// overwriting materialize
			margin: 0 auto;
			color:white;
			background: none; 				// overwriting materialize
			box-shadow: none; 				// overwriting materialize
			height: initial !important;		// overwriting materialize
			line-height: initial;			// overwriting materialize
			li {
				float: right;
				padding-right: 5px;
				padding-left: 5px;
			}
		}
		a {
			text-align: center;
			color:white;
			text-decoration:none;
		}
	
}
.modal {
	h1 {
		font-size: 22px;
		margin-bottom: 20px;
	}
	p {
		font-size: 13px;
	}
	.larger {
		font-size: 20px;
	}
	.bold {
		font-weight: bold;
	}
}
.mymodals {
	#modal1 {
		.items-wrap {
			padding: 5px 0;
			margin: 5px 20px 5px 0;
			font-size: 13px;
		}
		
	}
	
}
.content {
	// float: right;
	display: inline-block;
	width: 100%;
	background: #dfdfdf;
}
.tabigation {
	color: initial;				// owerwriting materialize
    background-color: initial;	// owerwriting materialize
    width: 100%;				// owerwriting materialize
    height: initial;			// owerwriting materialize
    line-height: initial;		// owerwriting materialize
	box-shadow: initial;		// owerwriting materialize
	
	width: 100%;
	
	.navitem {
		color: #9F9F9F;
		background-color: #DFDFDF;
		box-shadow: none;
		font-size: 14px;
		&:hover {
			background-color: #DFDFDF;
		}
		&:focus {
			background-color: #DFDFDF;
		}
	}
	.current {
		color: #fff;
		background-color: #26a69a;
		&:hover {
			background-color: #2bbbad;
		}
		&:focus {
			background-color: #2ab7a9;
		}
	}
	
	& > ul {
		background: #DFDFDF;
		width: 100%;
		float: right;
		li {
			float:right;
			
		}
	}
	.btn {
		border-radius: 0;
		// height: initial;
		// line-height: initial;
		// padding: 3px 20px;
	}
	
	.btn.disabled, .btn:disabled {
		cursor: pointer;
	}
	.lefty {
		float: left;
	}
}
.tabs-wrap {
	width: 100%;
	float: right;
	clear: both;
	// background: blue;
	.tab-item {
		width: 100%;
		top: 0;
		&:nth-child(1) {
			// background: yellow;
		}
		&:nth-child(2) {
			// background: orange;
		}
	}
}
.mainpanel {
	float: right;
	width: 100%;
	padding: 1%;
	background: #dfdfdf;
	.mainpanel-header {
		width: 100%;
		margin-bottom: 15px;
		background: white;
		color: #9F9F9F;
		h2, h3, h4 {
			font-size: 33px;
			width: 191px;
			margin: 0 auto;
		}
	}
}
.preloader-wrapper {
	direction: ltr;
}
.tab-preloader {
	width: 100%;
    // position: fixed;
	margin-top: 200px;
	margin-bottom: 200px;
	z-index: 5;
	h1 {
		width: 210px;
		margin: 0 auto 15px;
		font-size: 22px;
		color: #4F3B4F;
	}
	.preloader-wrapper { // adding to materialize
		direction: ltr;
		margin: 0 auto;
		display: block;
		width: 90px;
		height: 90px;
	}
	.circle-clipper .circle {
		
	}
}
.themebtn {
	margin-top: 10px;
	font-size: 10px;
	height: initial;
	line-height: initial;
	padding: 0 5px;
	text-transform: initial;
}
.soundbtn {
	background: #A9FF82;
	&:hover {
		background: #A9FF82;
	}
	&:focus {
		background: #A9FF82;
	}
	i {
		color: black;
		font-size: 19px;
		vertical-align: -5px;
	}
}
.datepicker {
	position: relative;
	float: right;
	z-index: 5;
	.dp-input {	// overwriting materialize
		width: initial;
		height: initial;
		background-color: white;
		margin: 0;
	}
	.box {
		position: absolute;
		width: 400px;
		background: whitesmoke;
	}
	.dp-header {
		background: whitesmoke;
		float: right;
		width: 100%;
		
		.btn {
			border-radius: 0;
			padding: 0;
		}
		.dp-hdbtn {
			float: right;
		}
		.dp-next {
			width: 9.5%;
			margin-left: 0.5%;
		}
		.dp-currsec {
			width: 80%;
		}
		.dp-prev {
			width: 9.5%;
			margin-right: 0.5%;
		}
	}
	.dp-body {
		float: right;
		width: 100%;
		background: whitesmoke;
	}
	.dp-footer {
		background: whitesmoke;
	}
	table {
		margin: 5px 0;
		text-align: center;
		th {
			text-align: center;
		}
		td {
			text-align: center;
			border-radius: 0;
			transition: background-color .4s;
			&:hover {
				cursor: pointer;
			}
		}
	}
	.dp-content {
		.btn, .btn-flat {	// overwriting materialize
			display: inline-block;
			height: initial;
			line-height: initial;
			// width: 100%;
		}
		td {
			margin: 1px;
		}
	}
	.dp-months {
		td {
			padding: 5px 0;
			width: 100px;
		}
		.spring:hover {
			background-color: #98FF53;
		}
		.summer:hover {
			background-color: #FFFE6D;
		}
		.fall:hover {
			background-color: #FFB381;
		}
		.winter:hover {
			background-color: #65C2FF;
		}
	}
	.dp-days {
		td, th {
			padding: 1px 0;
			width: 45px;
		}
		.dp-weekday {
			display: inline-block;
		}
	}
	.selected {
		background: #FF007B;
	}
}

.mgmt {
	.tree-preloader {
		border-color: #26a69a;
		
	}
	.mainpanel {
		& > :nth-child(2) {
			// margin-left: 1%;
		}
		& > :nth-child(3) {
			
		}
		& > :nth-child(4) {
			// margin-left: 1%;
		}
		& > :nth-child(5) {
		
		}
	}
	.rightpanel {
		width: 34.5%;
		@media screen and (max-width: 800px) {
			width: 100%;
		}
		float: right;
		margin-left: 1%;
		& > :nth-child(1) {
			width: 100%;
		}
	}
	.leftpanel {
		width: 64.5%;
		@media screen and (max-width: 800px) {
			width: 100%;
		}
		float: right;
		& > :nth-child(1) {
			width: 69.5%;
			margin-left: 1%;
			@media screen and (max-width: 800px) {
				width: 100%;
				margin-left: 0;
			}
		}
		& > :nth-child(2) {
			width: 29.5%;
			@media screen and (max-width: 800px) {
				width: 100%;
			}
		}
		& > :nth-child(3) {
			width: 69.5%;
			margin-left: 1%;
			@media screen and (max-width: 800px) {
				width: 100%;
				margin-left: 0;
			}
		}
		& > :nth-child(4) {
			width: 29.5%;
			@media screen and (max-width: 800px) {
				width: 100%;
			}
		}
	}
	.subpanel {
		float: right;
		background: #BBBBBB;
		border-radius: 3px;
		margin-bottom: 1%;
		overflow: auto;
		
		.subpanel-header {
			background: #5D5D5D;
			width: 100%;
			padding: 5px;
			text-align: center;
			font-size: 16px;//21px;
			color: white;
			
			span[class^=foundicon] {
				font-size: 21px;
				
			}
			span[class^=glyphicon] {
				font-size: 21px;
				top: 5px;
			}
		}
		.subpanel-body {
			width: 100%;
			background: #BBBBBB;
		}
	}
	.tree-wrap {
		width: 100%;
		overflow: auto;
		height: 269px;
	}
	.tree-toolbar {
		margin-bottom: 20px;
		button {
			line-height: initial;	// overwriting materialize
			height: initial;		// overwriting materialize
			padding: 0 10px;		// overwriting materialize
			margin-bottom: 5px;
		}
		span {
			top: 2px;
		}
	}
	.profile {
		.profile-wrap {
			width: 100%;
			overflow: auto;
			height: 470px;
		}
		.autoc {
			& > table {
				height: 300px;
			}
		}
		input.jq-autocomplete {
			display: block;
			height: initial;	// overwriting materialize
			width: 90%;
			margin: 10px auto;
		}
		.profile-img {
			width: 30%;
			max-width: 30%;
			margin: 0 auto;
			display: block;
			
			img {
				width: 100%;
				background: white;
				padding: 4px 10px;
				border: 1px solid #ddd;
				box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
				border-radius: 25px;
			}
		}
		.profile-table {
			width: 80%;
			text-align: center;
			// display: block;
			margin: 10px auto;
			
			tr {
				width: 100%;
				text-align: right;
				border-top: 1px solid #ddd;
			}
			th {
				padding: 5px;
				text-align: right;
				
			}
			td {
				padding: 5px;
				text-align: center;
			}
		}
	}
	.counter {
		height: 370px;
		.subpanel-body {
			padding: 10px;
		}
	}
	.admin-list {
		height: 370px;
		.list-wrap {
			width:100%;
			height:299px;
			overflow:auto;
		}
		.btn {
			width: 100%;
			height: initial;		// overwriting materialize
			line-height: initial;	// overwriting materialize
			padding: 5px 0;			// overwriting materialize
		}
		td {
			width: 100%;
		}
	}
	.record {
		height: 370px;
		.subpanel-body {
			padding: 10px;
		}
		
	}
}

.help {
	width: 90%;
	max-height: 90%;
	.modal-content {
		padding: 10px;
	}
	.wrap {
		width: 100%;
	}
	
	nav {
		color: black;
		background: none;
		height: initial;
		line-height: initial;
		box-shadow: none;
		
		width: 30%;
		float: left;
		direction: ltr;
		.nav-subgroup {
			margin: 5px 0;
		}
		h1 {
			font-size: 15px;
			margin-bottom: 0;
		}
	}
	a {
		display: block;
		color: blue;
		text-align: left;
		
	}
	.svgs {
		width: 70%;
		img {
			width: 100%;
		}
	}
}

.hlp {
	.wrap {
		width: 100%;
		padding: 10px;
		background: whitesmoke;
	}
	
	nav {
		color: black;
		background: none;
		height: initial;
		line-height: initial;
		box-shadow: none;
		
		width: 30%;
		float: left;
		direction: ltr;
		a {
			color: blue;
			text-align: left;
			display: table;
		}
		.current_item {
			color: #ff4081;
		}
		.nav-subgroup {
			margin: 5px 0;
		}
		h1 {
			margin-bottom: 0;
		}
		.hlp-indented {
			margin-left: 20px;
		}
		
	}
	
	.svgs {
		width: 70%;
		img {
			width: 100%;
			height: 700px;
		}
	}
	
	
}

.manager {
	.mainpanel {
		& > :nth-child(1) {
			margin-left: 1%;
		}
		& > :nth-child(2) {
			
		}
		& > :nth-child(3) {
			
		}
	}
	.subpanel {
		float: right;
		background: #BBBBBB;
		border-radius: 3px;
		margin-bottom: 1%;
		overflow: auto;
		
		.subpanel-body {
			width: 100%;
			background: #BBBBBB;
			
			.tree-toolbar {
				margin-bottom: 20px;
				button {
					line-height: initial;	// overwriting materialize
					height: initial;		// overwriting materialize
					padding: 0 10px;		// overwriting materialize
					margin-bottom: 5px;
				}
				span {
					top: 2px;
				}
			}
		}
	}
	.rightsec {
		width: 29.5%;
		float: right;
		@media screen and (max-width: 800px) {
			width: 100%;
		}
	}
	.leftsec {
		width: 69.5%;
		float: right;
		@media screen and (max-width: 800px) {
			width: 100%;
		}
	}
	.profile {
		width: 100%;
		// height: 400px;
		.autoc .items-wrap {
			height: 200px;
		}
		.profile-img {
			width: 30%;
			max-width: 30%;
			margin: 0 auto;
			display: block;
			
			img {
				width: 100%;
				background: white;
				padding: 4px 10px;
				border: 1px solid #ddd;
				box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
				border-radius: 25px;
			}
		}
		.profile-table {
			width: 80%;
			text-align: center;
			// display: block;
			margin: 10px auto;
			
			tr {
				text-align: right;
				border-top: 1px solid #ddd;
			}
			th {
				width: 30%;
				padding: 5px;
				text-align: right;
			}
			td {
				width: 70%;
				padding: 5px;
				text-align: center;
			}
		}
	}
	.userlist {
		width: 100%;
		height: 350px;
		.list-wrap {
			clear: both;
			width:100%;
			height:279px;
			overflow:auto;
		}
		.update-userlist {
			// float: right;
			width: 100%;
		}
		.dropdown {
			// float: left;
			width: 100%;
			
			select {
				height: initial; // overwriting materialize
			}
		}
		table {
			clear: both;
		}
		td {
			width: 100%;
		}
		
	}
	.settings {
		width: 100%;
		// height: 700px;
		padding: 10px;
		.wrap {
			clear: both;
			width: 100%;
			position: relative;
			overflow-x: hidden;
			.settings-overlay {
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 2;
				background: rgba(0,0,0,0.5);
				.preloader-wrapper {
					display: block;
					margin: 300px auto 0;
				}
			}
			& > :nth-child(2) {
				background: #DADACE;
			}
			& > :nth-child(3) {
				background: #D4C0C0;
			}
			& > :nth-child(4) {
				background: #CDD8C8;
			}
			& > :nth-child(5) {
				background: #C9D3D8;
			}
		}
		.subgroup {
			direction: rtl;
			border: 1px solid #DFDFDF;
			padding: 0 10px;
			
			.nonechecked {
				background-color: #FFAEAE;
				color: white;
				&:hover {
					background-color: #FFAEAE;
				}
			}
			.allchecked {
				background-color: #C3FF97;
				color: black;
				&:hover {
					background-color: #C3FF97;
				}
			}
			.somechecked {
				background-color: #913871;
				color: #FFFFFF;
				&:hover {
					background-color: #913871;
				}
			}
		}
		.subgroup-title {
			direction: rtl;
			font-size: 18px !important;
		}
		.myrow {
			width: 100%;
			margin:20px 0;
		}
		.mycolumn {
			width: 49%;
			@media screen and (max-width: 800px) {
				width: 100%;
			}
			display: inline-block;
		}
		.checkbox-wrap {
			direction: rtl;
			
			label {
				padding-left: initial;	// overwriting materialize
				font-size: 12px;		// overwriting materialize
				color: black;			// overwriting materialize
				padding-right: 25px;	// overwriting materialize
				line-height: 14px;		// overwriting materialize
			}
			.chktitle {
				font-size: 13px;
			}
			.chkdesc {
				color: #7F7F7F;
			}
			.ensec {
				line-height: 18px;
				font-size: 10px;
				color: #7F7F7F;
			}
			
			// making filled-in checkboxes right to left
			[type="checkbox"].filled-in:checked + label:before {
				//right: 10px;
			}
			[type="checkbox"].filled-in + label:before,
			[type="checkbox"].filled-in + label:after {
				right: 0;
			}
			[type="checkbox"] + label:before {
				margin-right: 11px;
			}
		}
		.grouptitle {
			font-size: 18px !important;
		}
		// @@@@@@@@@@@@@@@@@@	TEMP	 @@@@@@@@@@@@@@@@@@
		.fn-subgroup-btn {
			display: none;
		}
		// @@@@@@@@@@@@@@@@@@	TEMP	 @@@@@@@@@@@@@@@@@@

		
		
		
		
		th, td {
			border-radius: 0 !important;
		}

		.abbas1 {
			background: #D8D8C7;
		}
		.abbas2 {
			background: #D4B6B6;
		}
		.abbas3 {
			background: #C7D8BF;
		}
		.abbas4 {
			background: #C5D5DC;
		}
	}
}

.emailer {
	.mainpanel {
		& > :nth-child(1) {
			margin-left: 1%;
		}
		& > :nth-child(2) {
			
		}
	}
	.subpanel {
		float: right;
		height: 500px;
		background: #BBBBBB;
		border-radius: 3px;
		margin-bottom: 1%;
		overflow: auto;
		
		.subpanel-header {
			background: #5D5D5D;
			width: 100%;
			padding: 10px;
			text-align: center;
			font-size: 21px;
			color: white;
			
			span[class^=foundicon] {
				font-size: 21px;
				
			}
			span[class^=glyphicon] {
				font-size: 21px;
				top: 5px;
			}
		}
		.subpanel-body {
			width: 100%;
			background: #BBBBBB;
			
		}
	}
	.profile {
		width: 34.5%;
		@media screen and (max-width: 800px) {
			width: 96%;
		}
		.subpanel-body {
			padding: 10px;
		}
		.profile-img {
			width: 35%;
			max-width: 35%;
			@media screen and (max-width: 800px) {
				width: 25%;
				max-width: 25%;
			}
			margin: 10px auto 20px auto;
			display: block;
			
		}
		img {
			width: 100%;
			background: white;
			padding: 4px 10px;
			border: 1px solid #ddd;
			box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
			border-radius: 25px;
		}
		table {
			width: 80%;
			text-align: center;
			margin: 10px auto;
			
			tr {
				text-align: right;
				border-top: 1px solid #ddd;
			}
			th {
				padding: 5px;
				text-align: right;
				
			}
			td {
				padding: 5px;
				text-align: center;
			}
		}
	}
	.main {
		width: 64.5%;
		@media screen and (max-width: 800px) {
			width: 96%;
			margin-right: 2%;
		}
		.subpanel-body {
			padding: 10px;
			
			.tree-toolbar {
				margin-bottom: 20px;
				button {
					line-height: initial;	// overwriting materialize
					height: initial;		// overwriting materialize
					padding: 0 10px;		// overwriting materialize
					margin-bottom: 5px;
				}
				span {
					top: 2px;
				}
			}
			
			.submit-btns {
				width: 305px;
				height: 50px;
				margin-bottom: 20px;
				float: right;
				button {
					font-family: 'Yekan';
					width: 150px;
				}
				.enabled {	// later
					font-size: 22px;
				}
			}
		}
		.emailer-tree-wrap {
		
			width: 100%;
			height: 217px; // 242px for no 3rd radio
			overflow: auto;
		
		}
	}
	.progress-bar {
		float: right;
		margin-right: 20px;
		margin-top: 10px;
		@include transition(1s all);
		
		&:nth-child(1) {
			
		}
		
		i#refresh {
			float: right;
			font-size: 36px;
			vertical-align: bottom;
			margin: 0 10px;
		}
		
		span.progress-status {
			margin-left: 5px;
		}
		.progress-remaining {
			font-size: 30px;
			margin-top: -2px;
			margin-left: 5px;
		}
		.hidden {
			visibility: hidden;
		}
		span {
			float: right;
			margin-top: 10px;
		}
	}
	
	.user-select {
		float: right;
		margin-right: 10px;
		margin-bottom: 10px;
		padding-top: 14px;
		
		
		[type="radio"]:not(:checked) + label, [type="radio"]:checked + label { // owerwriting materialize
			padding-right: 25px;
			padding-left: 0;
		}
		[type="radio"] + label:before, [type="radio"] + label:after { // owerwriting materialize
			right: 0;
		}
		
		
		& > :nth-child(1) {
			float: right;
			margin-left: 20px;
		}
		& > :nth-child(2) {
			float: right;
		}
		& > :nth-child(3) {
			clear: both;
			float: right;
		}
		input#emailer-autocomplete_1 {	// overwriting materialize
			width: initial;
			height: initial;
			background-color: white;
			margin: 0;
		}
		input:disabled {
			background: #DADADA;
		}
		.autoc {
			width: 450px;
			margin: 0 auto;
		}
		.autoc .items-wrap {
			height: 250px;
		}
	}
	label {
		font-size: 100% !important;
		color: black;
	}
}

.reporting {
	.mainpanel {
		& > :nth-child(1) {
			margin-left: 1%;
		}
		& > :nth-child(2) {
			
		}
		& > :nth-child(3) {
			
		}
	}
	.rightpanel {
		width: 34.5%;
		@media screen and (max-width: 800px) {
			width: 100%;
		}
		float: right;
		margin-left: 1%;
		& > :nth-child(1) {
			width: 100%;
		}
	}
	.leftpanel {
		width: 64.5%;
		@media screen and (max-width: 800px) {
			width: 100%;
		}
		float: right;
	}
	.subpanel {
		float: right;
		background: #BBBBBB;
		border-radius: 3px;
		margin-bottom: 1%;
		overflow: auto;
		
		.subpanel-header {
			background: #5D5D5D;
			width: 100%;
			padding: 5px;
			text-align: center;
			font-size: 16px;//21px;
			color: white;
			
			span[class^=foundicon] {
				font-size: 21px;
				
			}
			span[class^=glyphicon] {
				font-size: 21px;
				top: 5px;
			}
		}
		.subpanel-body {
			width: 100%;
			background: #BBBBBB;
		}
	}
	.profile {
		.profile-wrap {
			width: 100%;
			overflow: auto;
		}
		.profile-img {
			width: 30%;
			max-width: 30%;
			margin: 0 auto;
			display: block;
			
			img {
				width: 100%;
				background: white;
				padding: 4px 10px;
				border: 1px solid #ddd;
				box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
				border-radius: 25px;
			}
		}
		.profile-table {
			width: 80%;
			text-align: center;
			// display: block;
			margin: 10px auto;
			
			tr {
				width: 100%;
				text-align: right;
				border-top: 1px solid #ddd;
			}
			th {
				padding: 5px;
				text-align: right;
				
			}
			td {
				padding: 5px;
				text-align: center;
			}
		}
		
	}
	.datasec {
		width: 100%;
		height: 700px;
	}
}


.theme {
	body {
		background: #dfdfdf;
	}
	.header {
		background-color: #552555;
	}
	.footer {
		background-color: #552555;
	}
	.subpanel {
		background: #B59BB5;
		.subpanel-body {
			background: #B59BB5;
		}
		.subpanel-header {
			background: #4F3B4F;
		}
	}
	.btn {
		color: #fff;
		background-color: #943973;
		&:hover {
			color: #fff;
			background-color: #9E3F7B;
		}
		&:focus {
			color: #fff;
			background-color: #963472;
		}
		
		.disabled {  // overwriting materialize
			background-color: #DFDFDF !important;
			color: white !important;
		}
		
	}
	.mainpanel {
	
	}
	.mainpanel-header {
		background: #B59BB5;
		color: #756475;
	}
	
	
	.tabigation > ul {
		background: #5E345E;
	}
	.navitem {
		color: #DFDFDF;
		background-color: #5E345E;
		box-shadow: none;
		&:hover {
			background-color: #713E71;
		}
		&:focus {
			background-color: #603260;
		}
	}
	.current {
		color: #fff;
		background-color: #926D92;
		&:hover {
			background-color: #987F98;
		}
		&:focus {
			background-color: #986298;
		}
	}
	.profile table tr {
		border-top: 1px solid #887488;
	}
	[type="checkbox"].filled-in:checked + label:after {
		//top: 0;
		//width: 20px;
		//height: 20px;
		
		border: 2px solid #943973;
		background-color: #943973;
		
		//z-index: 0;
	}
	[type="radio"]:checked + label:after {
		//border-radius: 50%;
		
		border: 2px solid #943973;
		background-color: #943973;
		
		//z-index: 0;
		//-webkit-transform: scale(1.02);
		//-moz-transform: scale(1.02);
		//-ms-transform: scale(1.02);
		//-o-transform: scale(1.02);
		//transform: scale(1.02);
	}
	input[type=text]:focus:not([readonly]) {
		border-bottom: 1px solid #FF00C8;
		box-shadow: 0 1px 0 0 #FF00C8;
	}
	::-webkit-scrollbar-thumb {
		background: #B59BB5;
		border: thin solid #A18AA1;
		border-radius: 10px;
	}
	.tab-preloader {
		.spinner-layer {
			border-color: #834892;
		}
	}
	.tree-preloader {
		border-color: #834892;
	}
	.manager-preloader {
		border-color: #CB00FF;
	}
}

.themeBlue {
	body {
		background: #dfdfdf;
	}
	.header {
		background-color: #552555;
	}
	.footer {
		background-color: #552555;
	}
	.subpanel {
		background: #B59BB5;
		.subpanel-body {
			background: #B59BB5;
		}
		.subpanel-header {
			background: #000350;
		}
	}
	.btn {
		color: #fff;
		background-color: #949339;
		&:hover {
			color: #fff;
			background-color: #E0DE4D;
		}
		&:focus {
			color: #fff;
			background-color: #E0DE4D;
		}
		
		.disabled {  // overwriting materialize
			background-color: #DFDFDF !important;
			color: white !important;
		}
		
	}
	.mainpanel {
	
	}
	.mainpanel-header {
		background: #B59BB5;
		color: #756475;
	}
	
	
	.tabigation > ul {
		background: #5E345E;
	}
	.navitem {
		color: #DFDFDF;
		background-color: #5E345E;
		box-shadow: none;
		&:hover {
			background-color: #713E71;
		}
		&:focus {
			background-color: #603260;
		}
	}
	.current {
		color: #fff;
		background-color: #926D92;
		&:hover {
			background-color: #987F98;
		}
		&:focus {
			background-color: #986298;
		}
	}
	.profile table tr {
		border-top: 1px solid #887488;
	}
	[type="checkbox"].filled-in:checked + label:after {
		top: 0;
		width: 20px;
		height: 20px;
		border: 2px solid #943973;
		background-color: #943973;
		z-index: 0;
	}
	[type="radio"]:checked + label:after {
		border-radius: 50%;
		border: 2px solid #943973;
		background-color: #943973;
		z-index: 0;
		-webkit-transform: scale(1.02);
		-moz-transform: scale(1.02);
		-ms-transform: scale(1.02);
		-o-transform: scale(1.02);
		transform: scale(1.02);
	}
	input[type=text]:focus:not([readonly]) {
		border-bottom: 1px solid #FF00C8;
		box-shadow: 0 1px 0 0 #FF00C8;
	}
	::-webkit-scrollbar-thumb {
		background: #B59BB5;
		border: thin solid #A18AA1;
		border-radius: 10px;
	}
}


.hidden {
	visibility: hidden;
}
.visible {
	visibility: visible;
}
.no-display {
	display: none !important;
}
.no-opacity {
	opacity: 0;
}
.display-block {
	display: block;
}
.lbl-disabled {
	color: rgba(0, 0, 0, 0.26) !important;
}